<div>
  <md-toolbar color="primary">
    <button md-button [mdMenuTriggerFor]="nav">Total Sales</button>
    <md-menu #nav="mdMenu">
      <button md-menu-item>Item 1</button>
      <button md-menu-item>Item 2</button>
    </md-menu>
    <button md-button [mdMenuTriggerFor]="waiterSales">Waiter Sales</button>
    <md-menu #waiterSales="mdMenu">
      <button md-menu-item>Item 1</button>
      <button md-menu-item>Item 2</button>
    </md-menu>

    <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>
  </md-toolbar>
  <md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item>Logout</button>
    <button md-menu-item>User Profile</button>
  </md-menu>
</div>

<div class="container-fluid">
  <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

    <div class="row">
      <h2 class="col-xs-6">Dashboard</h2>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Information</div>

      <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
        <thead>
        <tr>
          <th style="width: 4%">
          </th>
          <th style="width: 16%">
            <mfDefaultSorter by="PosTrnMstID">Transaction ID</mfDefaultSorter>
          </th>
          <th style="width: 16%">
            <mfDefaultSorter by="PayAmount">Pay Amount</mfDefaultSorter>
          </th>
          <th style="width: 16%">
            <mfDefaultSorter [by]="TenderAmt">Tender Amount</mfDefaultSorter>
          </th>
          <th style="width: 16%">
            <mfDefaultSorter [by]="ChangeAmt">Change Amount</mfDefaultSorter>
          </th>
          <th style="width: 16%">
            <mfDefaultSorter by="PaymentDtl">Payment Details</mfDefaultSorter>
          </th>
          <th style="width: 16%">
            <mfDefaultSorter by="RunDate">RunDate</mfDefaultSorter>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of payments">
          <td>
            <button (click)="remove(item)" class="btn btn-danger">x</button>
          </td>
          <td>{{item.PosTrnMstID}}</td>
          <td>{{item.PayAmount}}</td>
          <td>{{item.TenderAmt}}</td>
          <td>{{item.ChangeAmt}}</td>
          <td>{{item.PaymentDtl}}</td>
          <td>{{item.RunDate}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="5">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
